extends ./layout/index


block contenido
    main.container.mt-5
        div.row
            .col-md-5 
                img(src="img/nosotros.jpg" alt="nosotros" class="img-fluid")
            .col-md-7
                h1=titulo

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ornare lectus. Maecenas non tellus nisi. Proin condimentum pellentesque aliquam. Vestibulum sed luctus felis. Pellentesque lacinia accumsan quam at maximus. Donec et odio dolor. Integer aliquam nisi massa. Suspendisse sed venenatis dui. Vivamus eget aliquet libero. Pellentesque porttitor suscipit lectus et vulputate.

                p Ut bibendum porta risus id fermentum. Nunc blandit dui eget accumsan efficitur. Pellentesque vitae aliquam metus. Duis pellentesque sit amet orci at varius. Ut molestie ligula sed nunc fermentum dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien urna, rhoncus sit amet augue a, imperdiet sodales lorem. Quisque sit amet convallis metus. Ut ac dignissim sem. Quisque porttitor dolor turpis, ac tempus nibh sollicitudin a. Donec eu tellus quis nunc vestibulum aliquet. 

                p Phasellus porttitor felis ut nisl aliquet consectetur. Cras molestie diam sed nisi sollicitudin elementum. Cras consectetur dolor volutpat venenatis imperdiet. Nullam a pellentesque lorem. Integer sagittis molestie ullamcorper. Sed consectetur commodo leo a interdum. Pellentesque pulvinar, sapien id ullamcorper venenatis, ex dolor pellentesque elit, sed maximus sapien magna sit amet augue. Sed id lorem quis sem iaculis tristique. Nunc dapibus velit id fermentum varius. Quisque ut ege.
           
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Vestibulum lacinia, sem in pellentesque sollicitudin, enim sapien venenatis metus, nec fringilla odio massa vel ante. Nam auctor diam at sapien auctor, sed consequat nibh consectetur.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Vestibulum lacinia, sem in pellentesque sollicitudin, enim sapien venenatis metus, nec fringilla odio massa vel ante. Nam auctor diam at sapien auctor, sed consequat nibh consectetur.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Vestibulum lacinia, sem in pellentesque sollicitudin, enim sapien venenatis metus, nec fringilla odio massa vel ante. Nam auctor diam at sapien auctor, sed consequat nibh consectetur.